<div style="width: 100%; margin-bottom: 15px ">
    <div style="margin-bottom: 5px">
        {{ response|raw }}
    </div>
    <hr>
    <div style="margin-bottom: 15px">
        <div style="margin-bottom: 5px">votre message:</div>
        <div>{{ message }}</div>
    </div>
</div>
<div>
    <img src="{{ absolute_url(asset('/ehs/images/ehs.png')) }}" width="200px">
</div>